@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #811f50;
    --second-bg-color: #7c0101;
    --text-color: white;
}

#root {
    display: flex;
    justify-content: center;
}

body {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    background-color: var(--main-bg-color);
}

a{
    color:var(--text-color);
}

a:visited{
    color:var(--text-color);
}

.App {
    width: 800px;
}

.flexContainer{
    display: flex;
    justify-content: center;
}

.post {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    background-color: var(--second-bg-color);
    height: 320px;
}

.post__content {
    width: 100%;
    height: 100%;
}

.description {
    padding: 10px;
}

.coverContainer {
    position: relative;
    height: 200px;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.coverContainer::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 1px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        var(--second-bg-color),
        #ff000000 70%
    );
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postGame{
    width: 100%;
}
.description{
    text-align: justify;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.filter{
    margin: 15px 0 0 0
}
@media only screen and (min-device-width: 360px) and (max-device-width: 414px) {
    .post {
        width: 90%;
        height: 320px;
    }
    .filter{
        width: 90%;
    }
    .slick-arrow{
        display: none!important;
    }
}
