@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: #4b0000;
    --second-bg-color: #790000;
    --main-scroll-color: #961a49;
    --second-scroll-color: #810767;
    --text-color: white;
}

#root {
    display: flex;
    justify-content: center;
}

body {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
    background: url(/public/background.png) var(--main-bg-color);
}

a {
    color: var(--text-color);
}

a:visited {
    color: var(--text-color);
}

.App {
    width: 800px;
}

.flexContainer {
    display: flex;
    justify-content: space-around;
}
.pagePosts {
    width: 90%;
}
.mainContent {
    display: flex;
}
.post {
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    background-color: var(--second-bg-color);
}

.post__content {
    width: 100%;
    height: 100%;
}

.posts .description {
    padding: 10px;
}

.coverContainer {
    position: relative;
    height: 200px;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.coverContainer::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 1px;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--second-bg-color), #ff000000 70%);
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postGame {
    width: 90%;
    padding-top: 20px;
}
.postGame > * {
    margin: 10px 0 0 0;
}
.title {
    margin: 5px 0 15px 0;
}
.description {
    text-align: justify;
}
.showMore {
    text-decoration: underline solid;
}
.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.details li {
    display: flex;
    align-items: center;
    height: 35px;
    border-bottom: 1px solid var(--second-bg-color);
}
.platforms {
    display: flex;
    flex-grow: 0.5;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.platforms .icon {
    filter: invert();
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.searchBar {
    margin: auto;
}
.search {
    position: relative;
    margin: 15px 0 15px 0;
}
.search input {
    border-radius: 10px;
}
.searchBtn {
    position: absolute;
    top: 10px;
    right: 8px;
    border: none !important;
    border-radius: 50px;
    padding: 0;
}
.icon {
    width: 20px;
    height: 20px;
}
.searchBtn .icon {
    width: 15px;
    height: 15px;
}
.btnFilters {
    border: none !important;
    margin: 0;
    padding: 0;
}
.btnFilters .icon {
    filter: invert();
}
.stickyBlock {
    z-index: 1;
    position: sticky;
    background-color: var(--main-bg-color);
    top: 0;
}
.sidebarMenu {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    display: none;
    flex-direction: row-reverse;
    animation: fadeOut 0.4s linear;
}
.sidebarMenu.active {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.4s linear;
}
.sidebarContent {
    width: 70%;
    height: 100%;
    display: none;
    background-color: var(--main-bg-color);
    animation: slideOut 0.5s ease-out;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    border: 1px rgb(182, 18, 18) solid;
}
.sidebarMenu.active .sidebarContent {
    display: block;
    animation: slideIn 0.5s ease-out;
}
@keyframes fadeIn {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.4);
    }
}
@keyframes fadeOut {
    0% {
        display: flex;
        background-color: rgba(0, 0, 0, 0.4);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}
@keyframes slideOut {
    0% {
        display: block;
        transform: translate(0);
    }
    100% {
        transform: translateX(400px);
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translate(0);
    }
}
@media only screen and (min-device-width: 360px) and (max-device-width: 425px) {
    .pagePosts{
        width: 100%;
    }
    .post {
        width: 90%;
        height: 320px;
    }
    .filter {
        width: 90%;
    }
    .searchBar {
        width: 90%;
    }
    .search {
        width: 90%;
    }
    .slick-arrow {
        display: none !important;
    }
}
@media only screen and (min-device-width: 1024px) {
    *::-webkit-scrollbar {
        height: 4px;
        width: 4px;
    }
    *::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: #fd7b7b;
    }

    *::-webkit-scrollbar-track:hover {
        background-color: #ff4444;
    }

    *::-webkit-scrollbar-track:active {
        background-color: #ff3f3f;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: var(--main-scroll-color);
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: var(--second-scroll-color);
    }

    *::-webkit-scrollbar-thumb:active {
        background-color: var(--second-scroll-color);
    }
    .searchBar{
        width: 70%;
        margin: 0;
        justify-content: center;
    }
    .search input{
        font-size: x-large;
    }
    .search .icon{
        width: 25px;
        height: 25px;
    }
    .searchBtn{
        top:12px;
    }
    .pagePosts {
        width: 100%;
    }
    .sidebarMenu {
        z-index: auto;
        position: static;
        display: flex;
        animation: none;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: auto;
    }
    .sidebarContent {
        display: flex;
        animation: none;
        border-radius: 20px;
        margin-top: 15px;
        width: 90%;
        height: auto;
    }
    .posts {
        width: 100%;
    }
    .list {
        flex-direction: row;
        flex-wrap: wrap;
        height: 85vh;
        overflow-y: auto;
        justify-content: space-evenly;
    }
    .post {
        width: 30vw;
    }
    .mobile {
        display: none;
    }
    .search {
        width: 90%;
    }
    .postGame{
        width: 70%;
    }
    .mainBody{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .mainBody .image{
        height: 40vh;
    }
    .slick-slide img{
        height: 400px;
        margin: auto;
    }
    .stickyBlock{
        background: none;
    }
}
